{% extends "oscm_app/base.html" %}
{% load i18n %}
{% load nav %}
{% block title %}{% trans "Catalogue" %}{% endblock %}
{% block body_id %}{% trans "catalogue" %}{% endblock %}
{% block side_block %}
    {% include "oscm_app/menu.html" %}
{% endblock %}
{% block content %}
<div class="modal-dialog panel panel-default" style="margin-bottom:0">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Catalogue" %}</h3>
    </div>
    <div class="panel-body">
        <ul id="catalogueTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#prod_cats" data-toggle="tab" aria-controls="prod_cats" role="tab">{% trans 'Categories' %}</a></li>
            <li role="presentation"><a href="#prod_sups" data-toggle="tab" aria-controls="prod_sups" role="tab">{% trans 'Suppliers' %}</a></li>
            <li role="presentation"><a href="#prod_all" data-toggle="tab" aria-controls="prod_all" role="tab">{% trans 'Products' %}</a></li>
        </ul>
        <div class="tab-content">
            <div id="prod_cats" role="tabpanel" class="tab-pane fade in active">
                <ol>
                    {% get_category_list category user.role %}
                </ol>
            </div>
            <div id="prod_sups" role="tabpanel" class="tab-pane fade">
                <ol>
                    {% get_supplier_list category user.role %}
                </ol>
            </div>
            <div id="prod_all" role="tabpanel" class="tab-pane fade">
                <ol>
                    {% get_product_list category user.role True %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}