{% load i18n %}
<div id="cart_items" role="tabpanel" class="tab-pane fade">
{% if user.role == 'A' %}
    {% if cart_items_list %}
        <table class="table table-condensed table-striped text-center" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-flat="true" data-show-export="true" data-pagination="true">
            <thead>
                <tr>
                    <th class="text-center" data-field="name" data-sortable="true">{% trans 'name' %}</th>
                    <th class="text-center" data-field="sku" data-sortable="true">{% trans 'sku' %}</th>
                    <th class="text-center" data-field="unit_price" data-sortable="true">{% trans 'price' %}</th>
                    <th class="text-center" data-field="quantity" data-sortable="true">{% trans 'quantity' %}</th>
                    <th class="text-center" data-field="total_price" data-sortable="true">{% trans 'total price' %}</th>
                    <th class="text-center" data-field="status" data-sortable="true">{% trans 'status' %}</th>
               </tr>
            </thead>
            <tbody style="overflow:auto;">
                {% for cart_item in cart_items_list %}
                    <tr>
                        <td><a href="{% url 'oscm:product' cart_item.product.slug_name %}">{{ cart_item.product.name }}</a></td>
                        <td>{% if cart_item.product.sku %}{{ cart_item.product.sku }}{% else %}<span class="glyphicon glyphicon-minus"></span>{% endif %}</td>
                        <td>{{ cart_item.product.unit_price }}</td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>{{ cart_item.total_price }}</td>
                        <td>
                            {% if cart_item.status == 2 %}<span class="badge alert-success">{{ cart_item.get_status_display }}</span>
                            {% else %}<span class="badge alert-info">{{ cart_item.get_status_display }}</span>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% comment %}
        <div class="list-group"><ol>
        {% for cart_item in cart_items_list %}
            {% url 'oscm:cart_item' pk=cart_item.id as oscm_cart_items_url %}
            <li>
                <a href="{{ oscm_cart_items_url }}" class="list-group-item">
                    {% if cart_item.status == 2%}<span class="badge alert-success">{{ cart_item.get_status_display }}</span>
                    {% else %}<span class="badge alert-info">{{ cart_item.get_status_display }}</span>{% endif %}{{ cart_item }}
                </a>
            </li>
        {% endfor %}
        </ol></div>
    {% endcomment %}
    {% else %}
        <ul><li>{% trans "No cart items" %}</li></ul>
    {% endif %}
{% else %}
    {% if cart_items_list %}
         <div class="list-group"><ol>
        {% for cart_item in cart_items_list %}
            {% url 'oscm:cart_item' pk=cart_item.id as oscm_cart_items_url %}
            <li>
                <a href="{{ oscm_cart_items_url }}" class="list-group-item">
                    {% if cart_item.status == 2 %}<span class="badge alert-success">{{ cart_item.get_status_display }}</span>
                    {% else %}<span class="badge alert-info">{{ cart_item.get_status_display }}</span>{% endif %}{{ cart_item }}
                </a>
            </li>
        {% endfor %}
        </ol></div>
    {% else %}
        <ul><li>{% trans "No cart items" %}</li></ul>
    {% endif %}
{% endif %}
</div>