{% extends "oscm_app/base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration closed" %}{% endblock %}
{% block body_id %}{% trans "Registration closed" %}{% endblock %}
{% block content_title %}
<h2>{% if registration_allowed %}{% trans "Registration opened" %}{% else %}{% trans "Registration closed" %}{% endif %}</h2>
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_active %}
    <p class="alert alert-warning"><a href="{% url "oscm:home" %}" class="close" data-dismiss="alert">{% trans "Home" %}</a>
    {% blocktrans with oscm_username=user.username %}You are already registered as {{ oscm_username }}.{% endblocktrans %}</p>
{% else %}
    {% if not registration_allowed %}
        <p class="alert alert-warning">
            <a href="{% url "oscm:index" %}" class="close" data-dismiss="alert">{% trans "Home" %}</a>
            {% trans "Registration is currently closed on this site." %}
        </p>
    {% else %}
        <p class="alert alert-info">
            <a href="{% url "oscm:registration" %}" class="close" data-dismiss="alert">{% trans "Register" %}</a>
            {% blocktrans %}You can register your OSCM account.{% endblocktrans %}
        </p>
    {% endif %}
{% endif %}
{% endblock %}