{% extends "oscm_app/base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration completed" %}{% endblock %}
{% block body_id %}{% trans "Registration completed" %}{% endblock %}
{% block content_title %}
<h2>{% if registration_allowed and user.is_authenticated %}{% trans "Registration completed" %}{% else %}{% trans "Registration closed" %}{% endif %}</h2>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <p class="alert alert-success">
        <a href="{% url 'oscm:home' %}" class="close" data-dismiss="alert">{% trans "Home" %}</a>{% blocktrans with oscm_username=user.username %}
        You have successfully registered as {{ oscm_username }}.
     {% endblocktrans %}
    </p>
{% else %}
    <p class="alert alert-warning">
        <a href="{% url 'oscm:index' %}" class="close" data-dismiss="alert">{% trans "Home" %}</a>{% trans "You must have an OSCM Account before." %}
    </p>
{% endif %}
{% endblock %}