{% load i18n %}
<ul class="list-unstyled">
  <li class="pull-right"><a href="#top" class="btn btn-link"><mark>{% trans "Back to top" %}</mark></a></li>
  <li><a href="{% url '404' %}" class="btn btn-link"><mark>{% trans "Help" %}</mark></a></li>
</ul>
<hr/>
<ul class="list-unstyled">
    <li><a href="https://github.com/login">{% trans "GitHub" %}</a></li>
    <li><a href="https://pm.ti.bfh.ch/projects/smsystem">{% trans "Ordering and Supplier Chain Manager" %}</a></li>
    <li>{% trans "© Bern University of Applied Sciences in Engineering and Information Technology, 2015" %}</li>
</ul>