{% load nav %}
{% load i18n %}
<ul class="nav nav-sidebar">
    {% url 'oscm:account_settings' pk=user.id as oscm_account_settings_url %}
    <li class="{% active request oscm_account_settings_url exact_match=True %}">
        <a href="{{ oscm_account_settings_url }}">{% trans "Account Settings" %}</a>
    </li>
    {% if user.role == 'U' %}
        {% url 'oscm:catalogue' as oscm_catalogue_url %}
        <li class="dropdown">
            <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Catalogue" %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuCats">
                <li class="{% active request oscm_catalogue_url exact_match=True %}"><a href="{{ oscm_catalogue_url }}">{% trans "All" %}</a></li>
                <li role="presentation" class="divider"></li>
                {% get_category_list category %}
            </ul>
        </li>
    {% endif %}
    {% if user.role == 'U' or user.role == 'M' %}
        {% url 'oscm:carts' pk=user.id as oscm_cart_url %}
        <li class="dropdown">
            <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Carts" %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuCats">
                <li class="{% active request oscm_cart_url exact_match=True %}"><a href="{{ oscm_cart_url }}">{% trans "All" %}</a></li>
                <li role="presentation" class="divider"></li>
                 {% get_carts_list cart user %}
            </ul>
        </li>
        {% url 'oscm:orders' pk=user.id as oscm_order_url %}
        <li class="{% active request oscm_order_url exact_match=True %}">
           <a href="{{ oscm_order_url }}">{% trans "Orders" %}</a>
                <ul class="dropdown-menu children">
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                </ul>
        </li>
    {% endif %}
    {% if user.role == 'A' %}
        {% url 'oscm:products' as oscm_products_url %}
        {% comment %}
            <li class="{% active request oscm_products_url exact_match=True %}"><a href="{{ oscm_products_url }}">{% trans "Products" %}</a></li>
        {% endcomment %}
        <li class="dropdown">
            <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Products" %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuProds">
                <li class="{% active request oscm_products_url exact_match=True %}"><a href="{{ oscm_products_url }}">{% trans "All" %}</a></li>
                <li role="presentation" class="divider"></li>
                {% get_product_list product user.role %}
            </ul>
        </li>
        {% url 'oscm:categories' as oscm_categories_url %}
        <li class="dropdown">
            <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Categories" %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuCatas">
                <li class="{% active request oscm_categories_url exact_match=True %}"><a href="{{ oscm_categories_url }}">{% trans "All" %}</a></li>
                <li role="presentation" class="divider"></li>
                {% get_category_list category user.role %}
            </ul>
        </li>
        {% url 'oscm:suppliers' as oscm_suppliers_url %}
        <li class="dropdown">
            <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Suppliers" %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSups">
                <li class="{% active request oscm_suppliers_url exact_match=True %}"><a href="{{ oscm_suppliers_url }}">{% trans "All" %}</a></li>
                <li role="presentation" class="divider"></li>
                {% get_supplier_list supplier user.role %}
            </ul>
        </li>
    {% endif %}
</ul>