{% extends "oscm_app/base.html" %}
{% load i18n %}
{% block title %}{% trans "Log out" %}{% endblock %}
{% block body_id %}{% trans "logout" %}{% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_active %}
<div class="modal-dialog panel panel-default" style="margin-bottom:0">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Log out" %}</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{% url 'oscm:logout' %}" class="form-horizontal">
            <fieldset>
                {% csrf_token %}
                <p class="alert alert-warning">{% trans "Are you sure you want to log out ?" %}</p>
                {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
                <div class="form-actions">
                    <a href="{% url 'oscm:home' %}" role="button" class="btn btn-lg btn-default btn-block"><span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-log-out"></span> {% trans "Log out" %}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% else %}
    <a href="{% url 'oscm:index' %}" class="btn btn-link"><mark>{% trans "Home" %}</mark></a>
{% endif %}
{% endblock %}